/** Section: colors */

/**
blue: #5082ef
blue/hover: #2563eb
accordion background: #c7d2fe
*/

/** Section: Light Mode */
@media (prefers-color-scheme: light) {

    .cat-image{
        border: whitesmoke 6px solid;
    }

    .mobile-nav-list-holder{
        background-color: white;
        color: black;

    }

    .mobile-page-link{
        color: black;
    }
    #sidebar{
        background: linear-gradient(to bottom,
                      rgba(0, 0, 0, 0.1),
                      rgba(0, 0, 0, 0.4));
    }

    #sidebar nav a:hover {
        background: #e3e3e3;
    }

    #sidebar h1 {
        border-top: 1px solid #e3e3e3;
        color:#002366;
        text-shadow: gray 1px 1px 1px;
    }

    .logo-dark{
        display: none;
    }

    .pillow-item{
        background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1));
        box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.65);
        border: 1px solid lightgray;
    }
}

/** Section: Dark Mode */
@media (prefers-color-scheme: dark) {

    .cat-image{
        box-shadow: 7px 7px 10px #5c5c5c;
    }

    .mobile-nav{
        object-fit: expand;

    }

    .mobile-nav-list-holder{
        background-color: rgb(42, 29, 67);
    }

    .nav-expand{
        height: 100%;
    }

    .mobile-page-link{
        color: lightgray !important;
    }

    h2{
        color:lightgray;
    }

    .accordion-holder{
        background-color: rgb(42, 29, 67) !important;
        box-shadow: 4px 4px 4px rgba(25, 25, 25, 0.65) !important;
        color: lightgray;
        border: 1px solid rgb(37, 37, 52);
    }

    .pillow-title{
        color: lightgray !important;
    }

    #sidebar{
        background: linear-gradient(to bottom,
                      rgba(10, 12, 18, 0.8),
                      rgba(29, 29, 29, 0.5));
    }

    #sidebar nav a:hover {
        background: #013153;
    }

    #sidebar h1 {

        color:#1c3f81;
        text-shadow: rgba(128, 128, 128, 0.219) 3px 3px 2px;
        text-anchor:start;
        text-rendering:optimizeLegibility;
        text-orientation: mixed;
    }

    .page-link{
        color: lightgray;
}


    .logo-light{
        display: none;
    }

    .pillow-item{
        background: linear-gradient(to bottom,
        rgba(67, 79, 101, 0.6),
        rgba(58, 88, 106, 0.6));
        box-shadow: 4px 4px 4px rgba(25, 25, 25, 0.65) !important;
        border: 1px solid rgb(37, 37, 52);

    }
    .affiliate-desktop{
        color:lightgray
    }
    .affiliate-mobile{
        color:lightgray
    }

}

/* Section: Everything - Applies to both Mobile and Desktop */
@media only screen and (min-width: 0px){

    .closed{
        display: none;
    }

    /** Sub-Section: Accordion (everything) */

    .accordion-holder{
        background-color: #c7d2fe;
        border-radius: 26px;
        box-shadow: 8px 8px 8px rgba(128, 128, 128, 0.65);
        margin-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 1rem;

    }

    .accordion-title{
        color: #699bd1;
        font-weight: 600;
        text-align: left;
        margin-bottom: 0;
    }

    /** Mini-Section: Accordion Content/List */

    .open-accordion{
        display: flex;
        flex-direction: column;
        background-color: #c7d2fe;

        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;;
        background-color: transparent;
    }

    .closedLi::marker{
        color: #699bd1;
    }


    .open-ul{
        /* margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 1rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: justify; */

    }

    .openLi{
        font-size: small;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        margin-top: 1rem;
    }

    .openLi::marker{
        color: #699bd1;
    }

    /** Mini-Section: Accordion Button */

    .read-more-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
    }

    .read-more-button {
        background-color: transparent;
        color: #699bd1;
        box-shadow: none;
        justify-content: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .read-more-button:focus{
        outline: 0;
    }


    /** Sub-Section: Main Page (everything) */

    .main-article{
        margin-left: 0;
        margin-right: 0;
    }

    .home-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
        border-radius: 8px; /* Optional: Add rounded corners */
        overflow: hidden; /* Ensure content doesn't overflow the card */
        padding: 0;
        border: 1px solid lightgray;
    }

    .home-box-top{
        width: 100%;
        height: auto;
    }

    .home-box-bottom {
        padding: 1rem;
        background: linear-gradient(to bottom,
                      rgba(0, 0, 0, 0),
                      rgba(0, 0, 0, 0.3));
    }

    .main-card-title{
        font-size: large;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .main-card-button-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main-card-button{
        color: white;
        background-color: #5082ef;

    }

    .main-card-button:hover{
        background-color: #2563eb;
    }


  /** Sub-Section: Photos: hides all photos in pillow cards */

    .photo1{
        display: none;
    }
    .photo2{
        display: none;
    }

 /** Sub-Section: deals page */

    a .no-button{
        color: blue;
    }

    .no-button{
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        z-index: 1;
    }

    .discount-text{
        font-weight: 600;
        color: red;
    }

    .non-discount-text{
        font-weight: 400;
        color: black;
    }

}

/* Section: Mobile Styling */
@media only screen and (max-aspect-ratio: 9.99/10) {


    .item-title{
        font-size: medium;
    }

    .affiliate-desktop{
        display: none;
    }

    .affiliate-mobile{
        font-size:small;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero-img{
        display: none;
    }

    #q{
        display: none;
    }
    .active{
        display: none;
    }

    p{
        text-align:left;
    }

    #root{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .hamburger-holder{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        justify-content: center; /* Center the .hamburger-icon vertically */
    }

    .hamburger-horizontal{
        min-width: 75px;
        display: flex;
        flex-direction: row;
        justify-content: center; /* Center the .hamburger-icon horizontally */
        flex-grow: 1; /* Allow the div to take up remaining space */
    }

    .hamburger-icon{
       right: 90%;
    }

    .index-div{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .mobile-image-div{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 1rem;
        max-width: 100%;
        flex-grow: 1.25;
        margin-top:1rem;
        margin-left: 2rem;
        margin-right: 2rem;

    }

    .cat-image{
        width: 100%;
    }

    .desktop-header{
        display: none;
    }

    .desktop-article{
        display: none;
    }

    .mobile-header-nav{
        display: flex;
        flex-direction: row;
        justify-items: flex-end;
        flex-grow: 2;
    }

    .mobile-header{
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        margin-right: 2rem;
        margin-left: 0rem;
    }

    .mobile-line{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    nav{
        display: flex;
        flex-direction: column;
        padding: none;
        justify-content: right;
        /* flex-basis: max-content; */
    }

    .main-page{
        display: flex;
        flex-direction: column;
    }

    /** Sub-Section: Mobile navigation page */

    .mobile-nav{
       text-align: center;
       font-size: 2.5rem;
       padding: 1rem;
       font-family: "Poppins", Arial, Helvetica, sans-serif;
       font-weight: 500;


    }

    .mobile-nav-list{
    display: flex;
    flex-direction: column;
    height: 100%;

    }

    .mobile-nav-link{
        list-style: none;
        padding: 2rem;

    }

    .mobile-page-link{
        font-size: xx-large;
        text-align: center;

    }

    /** _ */

   .form-div{
        display: none;
    }

    .outlet-div{
        padding: 1.5rem;
    }

    :root {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .home-box{
        margin-left: 1.6rem;
        margin-right: 2.2rem;
        margin-bottom: 1rem;
        width: 96%;
    }

    .main-list-mobile{
        list-style-type: none;
        padding-left: 0;
        padding-right: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .main-list-item{
        padding-bottom: 0.5rem;
        margin: 1rem;
    }

    /** Sub-Section: accordion (mobile)*/

    .accordion-space{
        margin-left: 1.5rem;
        margin-right: 2rem;
        background-color: transparent;
    }

    .accordion-holder{
        padding-top: 1rem;
        padding-right: 5rem;
        padding-left: 2.5rem;
    }

    .accordion-title{
        margin-top: 2rem;
        font-size: x-large;
        padding-top: 1rem;
        margin-bottom: 0;
        padding-left: 2.5rem;
    }

    .accordion-bullet{
        color: gray;
        font-weight: 400;
        text-align: start;
        list-style-type: disc;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-left: 5px;
        text-wrap: pretty;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        display: block;
    }

    .accordion-bullet:marker{
        color: #699bd1;
    }

    .accordion-list{
        background-color:rgb(199, 210, 254);
        border-radius: 10px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 1rem;
        margin-right: .5rem;
        box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.65);
    }

    .accordion-text{
        font-weight: 400;
        align-self: left;

    }

    .open-accordion{
        text-align: justify;
    }


    .read-more-button{
        padding-bottom: 1rem;
        font-size: xx-large;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    a {
    color: gray;
    text-decoration: inherit;

    }

    a:hover {
    color: #535bf2;
    }

    body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    }

    h1 {
    font-size: 3.2em;
    line-height: 1.1;
    }

    button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    }

    button:hover {
    border-color: #646cff;
    }
    button:focus,
    button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    }

    @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
    }

    html {
        box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body {
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        line-height: 1.5;
        color: #121212;
    }
    textarea,
    button {
        font-size: 1rem;
        font-family: inherit;
        border: none;
        border-radius: 8px;
        padding: 0.5rem 0.75rem;
        background-color: white;
        line-height: 1.5;
        margin: 0;

    }

    .search-row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .search-row input[type="text"] {
        flex-grow: 1;
        font-size: 1rem;
        font-family: inherit;
        border: none;
        border-radius: 8px;
        padding: 0.5rem 0.75rem;
        /* box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2); */
        background-color: white;
        line-height: 1.5;
        margin: 0;
    }

    button {
        color: #3992ff;
        font-weight: 500;
    }

    textarea:hover,
    input:hover{
        box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    }

    #page h1 {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    #sidebar {
        display: none;
    }

    #page {
        max-width: 35rem;
        display: flex;
    }

    .page-title{
        text-shadow: 1px 1px 1px gray;
        text-align: center;
        font-size: xxx-large;
        font-weight: 700;
        margin: 0;
        line-height: 1.2;
        text-wrap: pretty;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #page h1 + p {
        margin: 0;
    }

    #page h1 + p + p {
        white-space: break-spaces;
    }

    #page h1:focus {
        outline: none;
        color: hsl(224, 98%, 58%);
    }

    #page a[href*="twitter"] {
        display: flex;
        font-size: 1.5rem;
        color: #3992ff;
        text-decoration: none;
    }
    #page a[href*="twitter"]:hover {
        text-decoration: underline;
    }

    #page img {
        width: 12rem;
        height: 12rem;
        background: #c8c8c8;
        margin-right: 2rem;
        border-radius: 1.5rem;
        object-fit: cover;
    }

    #page h1 ~ div {
        display: flex;
        gap: 0.5rem;
        margin: 1rem 0;
    }

    #page-form {
        display: flex;
        max-width: 40rem;
        flex-direction: column;
        gap: 1rem;
    }
    #page-form > p:first-child {
        margin: 0;
        padding: 0;
    }
    #page-form > p:first-child > :nth-child(2) {
        margin-right: 1rem;
    }
    #page-form > p:first-child,
    #page-form label {
        display: flex;
    }
    #page-form p:first-child span,
    #page-form label span {
        width: 8rem;
    }
    #page-form p:first-child input,
    #page-form label input,
    #page-form label textarea {
        flex-grow: 2;
    }

    #page-form-avatar {
        margin-right: 2rem;
    }

    #page-form-avatar img {
        width: 12rem;
        height: 12rem;
        background: hsla(0, 0%, 0%, 0.2);
        border-radius: 1rem;
    }

    #page-form-avatar input {
        box-sizing: border-box;
        width: 100%;
    }

    #page-form p:last-child {
        display: flex;
        gap: 0.5rem;
        margin: 0 0 0 8rem;
    }

    .MOBILE-MENU{
        display: none;
    }

    .hideMenuNav{
        display: none;
    }

    .menu-div{
        top: 0px;
        width: 100%;
        height: 100%;
        padding-top: 18%;
        padding-bottom: 15%;
        position: absolute;
        background-color: gray;
        opacity: 95%;
    }

    .card-div{
        margin-left: 8px;
        margin-right: 8px;
        padding-bottom: 0;
    }

    /** Sub-Section: Pillow Card Styling (mobile)*/

    .pillow-list{
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0;
        list-style: none;
    }


    .pillow-item{

        border-radius: 26px;
        margin-left: 1ch;
        margin-right: 1rem;
        margin-bottom: 2.5rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;


    }

    .pillow-list-item{
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;

    }

    .pillow-num{
        padding-right: 2rem;
        padding-left: 1rem;
        margin-right: 1.5rem;
        align-content: center;
        border-right: lightgray 1px solid;
        font-size: large;
        font-weight: 600;
        text-decoration: underlne;
    }

    .pillow-non-num{
        margin-left: .5rem;
        margin-right: 2rem;
    }

    .pillow-top{
        color: darkslateblue;
        font-size: 2rem;
    }

    .pillow-intro{
        color: #699bd1;
        text-align: center;
        text-wrap: pretty;
        font-size: medium;
    }

    .pillow-title{
        color: black;
        font-size: medium;
    }

    .pillow-text{
        font-weight: 400;
        text-decoration: inherit;
        padding: none;
    }

    .pillow-button-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .pillow-button{
        background-color: #5082ef;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2rem;
        color: white;
    }

    .pillow-button:hover{
        background-color: #2563eb;
    }

    /** Sub-Section: deals page (mobile) */
    a .no-button{
        color: royalblue;
    }

    .no-button{
        background-color: transparent;
        color: royalblue !important;
        border: none;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        z-index: 1;
    }

    .discount-text{
        font-weight: 600;
        color: red;
        margin-bottom: 0;
    }

    .non-discount-text{
        font-weight: 400;
        color: black;
        margin-bottom: 0;
        font-size: 1rem;
    }

    .deal-discussion{
        margin-top: 0;
    }

    .internal-link-text{
        font-size: 2rem;
    }


}

/* Section: Desktop Styling - Applies to all desktop sizes */
@media only screen and (min-aspect-ratio: 10/10){


    :root {
    font-family: "Poppins", Arial, Helvetica, sans-serif;;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

    body {
        margin: 0;
        display: flex;
        min-width: 320px;
        min-height: 100vh;
        margin: 0;
        line-height: 1.5;
        color: black;
        font-family: "Poppins", Arial, Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    html {
        box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    /* code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    } */

    .mobile-header{
        display: none;
    }

    .mobile-nav{
        display: none;
    }

    .mobile-article{
        display: none;
    }

    .main-list-mobile{
        display: none;
    }

    article{
        margin-right: .5rem;
        margin-left: .5rem;
    }

    /** accordion styling (desktop)*/

    .accordion-space{
        margin-left: 0;
        margin-right: 1.25rem;
    }

    .accordion-holder{
        padding-top: 0;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .accordion-title{
        font-size: large;
        padding-top: 2rem;
        padding-left: 2.5rem;
    }

    .accordion-bullet{
        color: gray;
        font-weight: 400;
        text-align: start;
        list-style-type: disc;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-left: 5px;
        text-wrap: pretty;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }

    .accordion-bullet:marker{
        color: #699bd1;
    }

    .accordion-list{
        background-color:rgb(199, 210, 254);
        border-radius: 10px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.65);
    }

    .accordion-text{
        font-weight: 400;
        align-self: left;

    }

    .read-more-button{
        padding-bottom: .5rem;
        padding-top: 0;
        font-size: medium;
        margin-bottom: 0;
        margin-top: 0;
    }

    .page-title{
        text-shadow: 1px 1px 1px gray;
        text-align: center;
        font-size: x-large
    }

    .main-card-title{
        font-size: large;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .main-card-button{
        color: white;
        background-color: #5082ef;
    }

    .main-card-button:hover{
        background-color: #2563eb;
    }

    a {
        font-weight: 400;
        color: gray;
        font-size: medium;
        text-decoration: inherit;
    }

    a:hover {
        color: #535bf2;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    button {
        border-radius: 6px;
        border: none;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        color: #3992ff;
        background-color: white;
        box-shadow: 2px 2px 5px -1px rgba(128, 128, 128, 1);
    }

    button:hover {
        border-color: #646cff;
    }

    button:focus,
    button:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }

    @media (prefers-color-scheme: light) {
        :root {
            color: #213547;
            background-color: #ffffff;
        }
        a:hover {
            color: #747bff;
        }

    }

    textarea:hover,
    input:hover{
        box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    }



    #page h1 {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    #page h1 form {
        display: flex;
        align-items: center;
        margin-top: 0.25rem;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    #root {
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: none;
        text-align: center;
    }

    .form-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    /** Sub-Section: Sidebar */

    .sidebar::before {
        position: absolute;
        opacity: 0.5;
    }

    #sidebar {
        box-shadow: 8px 8px 8px #5c5c5c;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;

        /* background-image: url('pillowsmith/src/assets/gray-bg.jpg'); */
        background-repeat:repeat;
        background-size: 200px;
        background-position: center;

    }

    #sidebar > * {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .sidebar-title-div{
        border-bottom: 1px solid white;
    }

    #sidebar h1 {

        font-size: x-large;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: .5rem 2rem 0rem 0rem;
        order: 1;
        line-height: 1;
        opacity: 0.7;

    }

    #sidebar > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-top: .5rem;
        padding-bottom: 1rem;

    }

    #sidebar > div:first-of-type {
        border-bottom: 1px solid #F9F6EE;
    }

    #sidebar > div:nth-of-type(2) {
        border-bottom: 1px solid #e3e3e3;
    }

    #sidebar > div form {
        position: relative;;
    }

    #sidebar > div form input[type="search"] {
        width: 100%;
        padding: .5rem;
        padding-left: 3rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 0.625rem center;
        background-size: 1rem;
        position: relative;
    }

    #sidebar > div form input[type="search"].loading {
        background-image: none;
    }

    #search-spinner {
        width: 1rem;
        height: 1rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
        animation: spin 1s infinite linear;
        position: absolute;
        left: 0.625rem;
        top: 0.75rem;
    }

    @keyframes spin {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }

    .affiliate-mobile{
        display: none;
    }

    .affiliate-desktop{
        font-size: xx-small;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #sidebar nav {
        flex: 1;
        overflow: auto;
        padding-top: 0;
    }

    #sidebar nav a span {
        float: right;
        color: #eeb004;
    }
    #sidebar nav a.active span {
        color: inherit;
    }

    i {
        color: #818181;
    }
    #sidebar nav .active i {
        color: inherit;
    }

    #sidebar ul {
        padding: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        list-style: none;
    }

    #sidebar li {
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    #sidebar li p {
        margin: .8rem;
    }

    #sidebar nav a {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        white-space: pre;
        padding: 0;
        margin: 0;
        border-radius: 8px;
        color: inherit;
        text-decoration: none;
        gap: 1rem;
        font-size: medium;

    }

    .page-link{
        text-align: center;
    }



    #sidebar nav a:active{
        background-color: #699bd1;
        color: white;
    }

   .active{
        background-color: #699bd1;
        color: white;
        border-radius: 8px;
    }

    #sidebar nav a.pending {
        color: #699bd1;
    }

    .logo-div{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

    }

    #detail {
        flex: 1;
        padding-left: 2rem;
        /* padding-top: 2rem; */
        align-items: flex-self;
        padding-bottom: 2rem;

    }

    #detail.loading {
        opacity: 0.25;
        transition: opacity 200ms;
        transition-delay: 200ms;
    }

    #page {
        max-width: 40rem;
        display: flex;
    }

    #page h1 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        line-height: 1.2;
    }

    #page h1 + p {
        margin: 0;
    }

    #page h1 + p + p {
        white-space: break-spaces;
    }

    #page h1:focus {
        outline: none;
        color: hsl(224, 98%, 58%);
    }

    #page a[href*="twitter"] {
        display: flex;
        font-size: 1.5rem;
        color: #3992ff;
        text-decoration: none;
    }
    #page a[href*="twitter"]:hover {
        text-decoration: underline;
    }

    #page img {
        width: 12rem;
        height: 12rem;
        background: #c8c8c8;
        margin-right: 2rem;
        border-radius: 1.5rem;
        object-fit: cover;
    }

    #page h1 ~ div {
        display: flex;
        gap: 0.5rem;
        margin: 1rem 0;
    }

    #page-form {
        display: flex;
        max-width: 40rem;
        flex-direction: column;
        gap: 1rem;
    }
    #page-form > p:first-child {
        margin: 0;
        padding: 0;
    }
    #page-form > p:first-child > :nth-child(2) {
        margin-right: 1rem;
    }
    #page-form > p:first-child,
    #page-form label {
        display: flex;
    }
    #page-form p:first-child span,
    #page-form label span {
        width: 8rem;
    }
    #page-form p:first-child input,
    #page-form label input,
    #page-form label textarea {
        flex-grow: 2;
    }

    #page-form-avatar {
        margin-right: 2rem;
    }

    #page-form-avatar img {
        width: 12rem;
        height: 12rem;
        background: hsla(0, 0%, 0%, 0.2);
        border-radius: 1rem;
    }

    #page-form-avatar input {
        box-sizing: border-box;
        width: 100%;
    }

    #page-form p:last-child {
        display: flex;
        gap: 0.5rem;
        margin: 0 0 0 8rem;
    }

    .MOBILE-MENU{
        display: none;
    }

    .HAMBURGER-ICON{
        display: none;
    }

    .cat-image{
        display: none;
    }

    .menu-div{
        /* position: absolute; */
        top: 80px;
        left: 10px;
        padding: 10px;
    }

    .x-div{
        display: none;
    }

    .card-div{

    }

    .divC{
        margin-right: 20px;
    }

    .hero-div{
        display: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }

    .hero-img{
        display: absolute;
        top: 20px;
        left: 0px;
        width: 100%;
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .hero-outlet-div{
        /* margin-top: 1500px; */
        top: 0px;
        left: 0px;
    }


    /** Sub-Section: Pillow Card Styling (desktop) */

    .pillow-list{
        margin-left: -1rem;
        padding: 0;
        list-style: none;
    }

    .pillow-item{

        border-radius: 18px;
        margin: 1rem;
        margin-right: 1.2rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        box-shadow: 4px 4px 4px rgba(128, 128, 128, 0.65);

    }

    .pillow-list-item{
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pillow-intro{
       text-wrap: pretty;
       color: #7f9cf5;
       /* see desktop subsections */

    }

    .pillow-top{
        color: darkslateblue;
    }

    .pillow-title{
        color: black;
        text-wrap: pretty;
        /* see desktop subsections */
    }

    .pillow-text{
        font-weight: 400;
        font-size: medium;
        text-decoration: inherit;

    }

    .gray-text{
        color:gray;
        font-weight: 400;
        font-size: medium;
        text-decoration: inherit;
        padding: none;
    }

    .pillow-num{
        padding-right: 1.5rem;
        padding-left: .5rem;
        margin-right: 1.5rem;
        align-content: center;
        border-right: lightgray 1px solid;
        font-size: large;
        text-decoration: underline;
    }

    .pillow-non-num{
        margin-left: 0;
        margin-right: 1rem;
    }

    .pillow-button-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .pillow-button{
        background-color: #5082ef;
        color:white;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .pillow-button:hover{
        background-color: #2563eb;
        cursor:pointer;
    }

    .mobile-nav-list{
        display: none;
    }

    .no-button{
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        font-weight: 900;
        color: royalblue;

    }

}

/* Section: Desktop Subsections */

/* Sub-Section: Desktop Styling - Applies to Small Desktop Window*/
@media only screen and (min-width:677px) and (max-width: 925px) {
    #sidebar {
        width: 15rem;
    }

    .moveOver{
        width: calc(100% - 16rem);
        margin-left: 16rem;

    }

    .main-list-desktop{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        list-style-type: none;
        padding-left: 0;
    }

    .main-list-item{
        flex: 1 100%; /* Each item takes up 50% of the container width */
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .pillow-intro{
        font-size: medium;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        font-weight: 700
    }
    .pillow-title{
        font-size: medium;
        font-weight: 600;

    }
}


/* Sub-Section: Desktop Styling - Applies to Small Desktop Window*/
@media only screen and (min-width: 926px) and (max-width: 1100px) {
    #sidebar {
        width: 16rem;
    }

    .moveOver{
        width: calc(100% - 17rem);
        margin-left: 17rem;

    }

    .main-list-desktop{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        list-style-type: none;
        padding-left: 0;
    }

    .main-list-item{
        flex: 1 1 50%; /* Each item takes up 50% of the container width */
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .pillow-intro{
        font-size: medium;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        font-weight: 700
    }
    .pillow-title{
        font-size: medium;
        font-weight: 600;

    }
}


/* Sub-Section: Desktop Styling - Applies to Medium Desktop Window */
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
    #sidebar {
        width: 18rem;
    }

    .moveOver{
        width: calc(100% - 19rem);
        margin-left: 19rem;
    }

    .main-list-desktop{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        list-style-type: none;
        padding-left: 0;
    }

    .main-list-item{
        flex: 1 1 50%; /* Each item takes up 50% of the container width */
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .pillow-intro{
        font-size: medium;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        font-weight: 600
    }
    .pillow-title{
        font-size: medium;
        font-weight: 400;
    }
}

/* Sub-Section: Desktop Styling - Applies to Large Desktop Window */
@media only screen and (min-width: 1301px) {
    #sidebar {
        width: 21rem;
    }

    .moveOver{
        width: calc(100% - 22rem);
        margin-left: 22rem;

    }

    .main-list-desktop{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        list-style-type: none;
        padding-left: 0;
    }

    .main-list-item{
        flex: 1 1 30%; /* Each item takes up 33% of the container width */
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .pillow-intro{
        font-size: large;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        font-weight: 700
    }
    .pillow-title{
        font-size: large;
        font-weight: 600;

    }
}





