
<div class="pillow-list-item">
    <a href="{{ pillow.link }}" class="card-div">

        <div>
            <h3 class="pillow-top">{{ pillow.intro }}</h3>
            <h4 class="pillow-intro">{{pillow.title}}</h4>
            <p class="non-discount-text">Sale Price:
                <span class="discount-text">{{ pillow.dealprice }}</span>
                (down from {{ pillow.normalprice }})
            </p>
            <a href="{{ pillow.link }}">
                <p class="pillow-text deal-discussion">{{ pillow.description | safe}}
                    <br>
                    <br>
                    Want to see what we have to say about this type of pillow. See this
                    <a href="{{ pillow.see }}" class="no-button">
                        <span class="pillow-text">discussion.</span>
                    </a>
                    <br>
                </p>
            </a>
            <a href="{{ pillow.link }}">
                <div class="pillow-button-div">
                        <button href="{{ pillow.link }}" class="pillow-button">Shop now at Amazon.com</button>
                </div>
                <p class="gray-text ">Posted: {{ pillow.date }}</p>
            </a>
        </div>
    </a>
    </div>


