
<div class="pillow-list-item">
    <a href="{{ pillow.link }}" class="card-div">

        <div>
            <h3>{{ pillow.intro }}</h3>
            <h4 class="pillow-intro">{{pillow.title}}</h4>
            <p class="pillow-text">Normal price: {{ pillow.normalprice }}</p>
            <p class="pillow-text">Discounted price: {{ pillow.dealprice }}</p>
            <p class="pillow-text">See a much more in-depth
                <button type="button" href={{ pillow.see }}> discussion</button>
                of what to consider when buying this type of pillow</
            </p>
            <div>
                </p>
                <div class="pillow-button-div">
                        <button href="{{ pillow.link }}" class="pillow-button">Shop now at Amazon.com</button>
                </div>
                <p class="pillow-text">Posted: {{ pillow.date }}</p>
            </div>
        </div>
    </a>
    </div>


