
    <a href="{{ link }}" class="card-div">
        <div class="pillow-list-item">
            <div class="pillow-num">
                <p>{{ pillowNum }}</p>
            </div>
            <div class="pillow-non-num">
                <h3 class="pillow-intro"> {{ pillow.intro }}:</h3>
                <h4 class="pillow-title">{{pillow.title}}</h4>
                <div>
                    <p class="pillow-text">{{ pillow.description }}</p>
                    <div class="pillow-button-div">
                            <button href="{{ pillow.link }}" class="pillow-button">Shop now at Amazon.com</button>
                    </div>
                </div>
            </div>

        </div>

    </a>


